@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(249, 250, 251) transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(249, 250, 251);
    border-radius: 6px;
  }

.custom-card-image .card.image-full::before{
  border-radius: 0.5rem;
  opacity: 0.45;
  z-index: 10;
}

.btn:hover{
  color: rgb(249, 250, 251)
}